/* body {
    min-height: 100vh;
    font-family: 'Figtree', sans-serif;
    background-color: hsl(47, 88%, 63%);
    display: grid;
    place-items: center;
} */

/*.card {
    width: 327px;
    background-color: white;
    padding: 1.5rem;
    border-radius: 20px;
    border: 1px solid black;
} */

.author {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 1.25rem;
}

.title {
    font-size: 1.25rem;
    font-weight: 800;
    margin: 0.75rem 0;
    cursor: pointer;
}

.title:hover {
    color: hsl(47, 88%, 63%);
}

.author {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 0;
}

.author-name {
    font-size: 0.85rem;
    font-weight: 800;
}

.tag {
    display: inline-block;
    background-color: hsl(47, 88%, 63%);
    padding: 0.35rem 0.75rem;
    border-radius: 4px;
    font-weight: 800;
    font-size: 0.75rem;
    margin-bottom: 0.75rem;
}

.date {
    font-size: 0.75rem;
    margin: 0.75rem 0;
}